* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Helvetica", sans-serif;
  padding: 50px;
}

.section-home {
  height: 95lvh;
  background-image: url("./images/my_bg_first_page.png");
  background-repeat: no-repeat;
  background-position: right 50px center;
  background-size: 650px 730px;
}

.logo {
  margin: 0;
  padding: 0;
  max-width: 50px;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

.section-home .left-content {
  flex: 1;
  padding: 200px 0px 0px 200px;
}

.left-content h1 {
  margin: 10px 0px 10px 0px;
}

.left-content p {
  margin: 10px 0px 10px 0px;
}

.left-content .p1 {
  font-size: 50px;
  font-weight: bold;
}

.left-content .p2 {
  font-size: 35px;
  font-weight: 100;
  margin-bottom: 20px;
}

.left-content a {
  text-decoration: none;
}

.typewriter {
  font-size: 50px;
  font-weight: bold;
  overflow: hidden; /* Ensures the text appears within the container */
  white-space: nowrap; /* Prevents wrapping */
  animation: typewriter 5s steps(40) infinite;
}

.typewriter::after {
  content: "|"; /* Cursor */
  animation: blinkCursor 0.7s infinite alternate; /* Blinking animation */
  font-weight: 100; /* Adjust thickness */
  font-size: larger; /* Adjust size */
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinkCursor {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.button {
  padding: 5px 15px;
  font-size: 15px;
  background-color: transparent;
  color: white;
  transition: all 0.3s ease;
  border: 1px solid white;
}

.button:hover {
  background-color: white;
  color: black;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

.section-home .nav {
  position: absolute;
  top: 20px;
  right: 20px;
}

.section-home .nav ul {
  list-style: none;
  display: flex;
}

.section-home .nav ul li {
  margin-right: 40px;
}

.section-home .nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  position: relative;
}

.section-home .nav a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease, left 0.3s ease; /* Add transition for both width and left properties */
}

.section-home .nav a:hover::before {
  width: 100%;
}

.section-home .nav a:not(:hover)::before {
  width: 0; /* Set width to 0 when not hovered */
  left: 100%; /* Move the underline to the right when not hovered */
}

/* Section 2 About */
.section-about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 140px 0px 100px 0px;
}

.left-section {
  flex: 1;
}

.right-section {
  flex: 1;
  padding: 0 60px;
  margin-right: 100px;
}

.photo-container {
  padding-left: 200px;
}

.photo-container img {
  width: 100%;
}

.right-section h2,
.right-section h3,
.right-section p {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Section 3 Skills */

.section-skills {
  padding: 50px;
  text-align: center;
}

.skills-heading {
  padding: 10px;
  text-align: left;
}

.foreground-heading,
.background-heading {
  margin: 0;
  position: absolute;
  white-space: nowrap;
}

.foreground-heading {
  padding-top: 45px;
  padding-left: 6px; /* Adjusted padding */
  font-size: 40px;
  color: #fff;
  z-index: 2;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
}

.background-heading {
  font-size: 115px;
  color: transparent;
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.2);
  z-index: 1;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

.skills-container {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}

.left-skills,
.right-skills {
  flex: 1;
}

.skill {
  margin: 40px;
}

.skill-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 5px; /* Adjusted margin */
}

.skill-bar {
  height: 20px;
  background: rgb(31, 35, 39);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 168, 232, 0.8);
}

.skill-progress {
  height: 100%;
  background: linear-gradient(to right, rgb(0, 31, 63), #0074cc, #00a8e8);
  border-radius: 10px;
  margin-right: 10px;
  box-shadow: 0 0 5px rgba(0, 168, 232, 0.8);
  animation: gradientAnimation 5s infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.sp1 {
  width: 80%;
}

.sp2 {
  width: 70%;
}

.sp3 {
  width: 60%;
}

.sp4 {
  width: 75%;
}

.sp5 {
  width: 65%;
}

.sp6 {
  width: 55%;
}

.skill,
.skill-name,
.skill-bar,
.skill-progress {
  transition: all 0.3s ease;
}

.skill:hover,
.skill-name:hover,
.skill-bar:hover,
.skill-progress:hover {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

.skill:hover {
  transform: scale(1.05);
}

/* Section 4 Projects */
.section-projects {
  padding: 50px;
  text-align: center;
}

.projects-container {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.project-box {
  width: 390px;
  height: 220px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  border: 05px solid white;
  background-color: white;
  transition: all 0.3s ease;
}

.project-box:hover {
  border: 2px solid white;
  filter: drop-shadow(0 0 10px rgb(255, 255, 255));
}

.project-image {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  display: block;
  transition: transform 0.3s;
}

.project-overlay {
  height: 0;
  width: 100%;
  background: linear-gradient(transparent, #343434 80%);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.3s ease-in-out;
}

.project-title {
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 40%;
  font-size: 25px;
  letter-spacing: 0px;
}

.project-info {
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
}

.project-btn {
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 3px 10px;
  font-size: 10px;
  background-color: transparent;
  color: white;
  transition: all 0.3s ease;
  border: 1px solid white;
  border-radius: 50px;
}

.project-btn:hover {
  background-color: white;
  color: black;
  transform: scale(1.2);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

.project-box:hover img {
  transform: scale(1.2);
}

.project-box:hover .project-overlay {
  height: 100%;
}

/* Section 5 Services */
.section-services {
  padding: 50px;
  text-align: center;
}

.services-container {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.service-box {
  width: calc(33.333% - 30px);
  text-align: left;
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  max-width: 390px; /* Adjusted max-width for consistent size */
  height: 220px; /* Adjusted height for consistent size */
}

.service-logo {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.service-box h3 {
  font-size: 24px;
  margin: 10px 0;
  color: #fff;
}

.service-box p {
  font-size: 16px;
  color: #bbb;
}

/* Section 6 Contact Me */

.section-contact {
  padding: 50px 50px 20px 50px;
  text-align: center;
}

.contact-container {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-contact {
  width: 700px;
  height: 400px;
  background-image: url("./images/contact_left_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 10px;
}

.contact-text {
  font-size: 20px;
  font-style: italic;
  margin-bottom: 20px;
}

.social-logo i {
  font-size: 3em; /* Adjust the font size to make the icons bigger */
  margin-right: 5px;
  transition: all 0.2s ease;
}

.social-logo .linkedin:hover {
  transform: scale(1.3); /* Adjust the font size to make the icons bigger */
  margin-right: 5px;
  filter: drop-shadow(0 0 10px rgba(0, 119, 181, 0.5));
  color: rgb(0, 119, 181);
}

.social-logo .facebook:hover {
  transform: scale(1.3);
  margin-right: 5px;
  filter: drop-shadow(0 0 10px rgba(24, 68, 242, 0.5));
  color: rgb(24, 68, 242);
}

.social-logo .instagram:hover {
  transform: scale(1.3);
  margin-right: 5px;
  filter: drop-shadow(0 0 10px rgba(204, 25, 94, 0.56));
  color: rgb(204, 25, 94);
}

.social-logo .github:hover {
  transform: scale(1.3);
  margin-right: 5px;
  filter: drop-shadow(0 0 10px rgba(6, 91, 27, 0.5));
  color: rgb(6, 91, 27);
}

.social-logo .whatsapp:hover {
  transform: scale(1.3);
  margin-right: 5px;
  filter: drop-shadow(0 0 10px rgba(37, 211, 102, 0.5));
  color: rgb(37, 211, 102);
}

.social-logo .gmail:hover {
  transform: scale(1.3);
  margin-right: 5px;
  filter: drop-shadow(0 0 10px rgba(211, 37, 37, 0.5));
  color: rgb(211, 37, 37);
}

.white-link {
  color: white;
}

.right-contact {
  flex-grow: 1;
  padding-left: 20px;
}

.message-box {
  width: 600px;
  height: 400px;
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.message-box i {
  font-size: 3em;
  margin-left: 20px;
  transition: all 0.2s ease;
}

.message-box .contact-icon:hover {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

.input-group {
  text-align: left;
}

.contact-input,
.contact-textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}

.contact-textarea {
  height: 80px;
  resize: vertical;
}

.contact-textarea::placeholder,
.contact-input::placeholder {
  color: #bbb;
}

/* .contact-containerr {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title h2 {
  font-weight: 600;
  color: #a363aa;
  font-size: 40px;
  margin-bottom: 5px;
}

.contact-left-title hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: #a363aa;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;
}

.contact-left textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-inputs:focus {
  border: 2px solid #ff994f;
}

.contact-inputs::placeholder {
  color: #a9a9a9;
}

.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg, #ff994f, #fa6d86);
  cursor: pointer;
}

.contact-left button img {
  height: 15px;
}

@media (max-width: 800px) {
  .contact-inputs {
    width: 80vw;
  }

  .contact-right {
    display: none;
  }
} */

/* Footer Section */
.footer {
  text-align: center;
}
.footer h4 {
  font-weight: 600;
  margin: 0;
}
