/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  cursor: default;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #f0f0f0, #666666);
  border-radius: 15px;
  border: 1px solid black;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scrollbar-thumb {
  position: absolute;
  width: 10px;
  height: 100px;
  top: 0;
  background: linear-gradient(to bottom, #f0f0f0, #666666);
  border-radius: 15px;
}

body {
  background-color: white;
  color: black;
  font-family: "Poppins", sans-serif;
}

/* Home Section */
.section-home {
  background-color: black;
  color: white;
  height: 100vh;
  background-image: url("./images/my_bg_first_page.png");
  background-repeat: no-repeat;
  background-position: right 50px bottom 0;
  background-size: 650px 730px;
}

/* Navbar */
header {
  position: relative;
  padding: 2rem 3rem 2rem 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo .nav_a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background-color: rgba(225, 225, 225, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu .nav_li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav_li {
  list-style: none;
}

.nav_a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  position: relative;
}

.nav_a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease, left 0.3s ease;
}

.nav_a:hover::before {
  width: 100%;
}

.nav_a:not(:hover)::before {
  width: 0;
  left: 100%;
  cursor: pointer;
}

/* Logo */
.logo_img {
  max-width: 50px;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

.section-home .left-content {
  margin-top: 10rem;
  margin-left: 10rem;
}

.section-home .left-content .p1 {
  font-size: 50px;
  font-weight: bold;
}

.typewriter {
  font-size: 50px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 5s steps(40) infinite;
}

.typewriter::after {
  content: "|"; /* Cursor */
  animation: blinkCursor 0.7s infinite alternate;
  font-weight: 100;
  font-size: larger;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinkCursor {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.section-home .left-content .p2 {
  font-size: 35px;
  font-weight: 100;
  margin-bottom: 20px;
}

.section-home .left-content a {
  text-decoration: none;
}

.button-white {
  font-size: 15px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 5px 15px;
  transition: all 0.3s ease;
}

.button-white:hover {
  background-color: white;
  color: black;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
  transform: scale(1.1);
  cursor: pointer;
}

/* Section About */

.section-about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10rem 0;
  border: 1px solid rgba(0, 0, 0, 0);
}

.photo-container img {
  width: 80%;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.photo-container img:hover {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
  transform: scale(1.01);
}

.right-section h2,
.right-section h3,
.right-section p {
  margin-bottom: 15px;
}

.right-section h2 {
  font-size: 35px;
}

.right-section h3 {
  font-size: 22px;
}

.right-section p {
  font-size: 16px;
  width: 500px;
  text-align: justify;
}

.button-black {
  font-size: 15px;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 5px 15px;
  transition: all 0.3s ease;
}

.button-black:hover {
  background-color: black;
  color: White;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  transform: scale(1.1);
  cursor: pointer;
}

/* Section 3 Skills */
.section-skills {
  margin: 10rem 0;
  border: 1px solid rgba(0, 0, 0, 0);
}

.skills-heading {
  position: relative;
  text-align: center;
  margin-bottom: 3rem;
}

.background-heading,
.foreground-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background-heading {
  font-size: 115px;
  color: transparent;
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.5);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

.foreground-heading {
  font-size: 40px;
  color: #000000;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
}

.skills-container {
  margin: 0 6rem;
  display: flex;
}

.left-skills,
.right-skills {
  flex: 1;
}

.skill {
  margin: 40px;
  position: relative;
}

.skill-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 5px;
}

.skill-bar {
  height: 20px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(72, 72, 72, 0.8);
}

.skill-progress {
  height: 100%;
  background: linear-gradient(to right, rgb(0, 0, 0), #3b3b3b, #999999);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(69, 69, 69, 0.8);
}

.sp1 {
  width: 80%;
}

.sp2 {
  width: 70%;
}

.sp3 {
  width: 60%;
}

.sp4 {
  width: 75%;
}

.sp5 {
  width: 65%;
}

.sp6 {
  width: 55%;
}

.skill,
.skill-name,
.skill-bar,
.skill-progress {
  transition: all 0.3s ease;
}

.skill:hover,
.skill-name:hover,
.skill-bar:hover,
.skill-progress:hover {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

.skill:hover {
  transform: scale(1.05);
}

/* Section Project */
.section-projects {
  margin: 10rem 0;
  border: 1px solid rgba(0, 0, 0, 0);
}

.other-heading {
  position: relative;
  text-align: center;
  margin-bottom: 7rem;
}

.background-other,
.foreground-other {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background-other {
  font-size: 115px;
  color: transparent;
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.5);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

.foreground-other {
  font-size: 40px;
  color: #000000;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.project-box {
  width: 390px;
  height: 220px;
  border-radius: 15px;
  overflow: hidden;
  border: 4px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  transition: all 0.3s ease;
}

.project-box:hover {
  border: 2px solid rgb(0, 0, 0);
  filter: drop-shadow(0 0 10px rgb(0, 0, 0));
}

.project-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.3s;
}

.project-overlay {
  height: 0;
  width: 100%;
  background: linear-gradient(transparent, #ffffff 80%);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.3s ease-in-out;
}

.project-box:hover img {
  transform: scale(1.2);
}

.project-box:hover .project-overlay {
  height: 100%;
}

.project-title {
  text-transform: uppercase;
  font-weight: bolder;
  margin-top: 40%;
  font-size: 25px;
  letter-spacing: 0px;
  line-height: 0.8;
}

.project-info {
  font-size: 14px;
  line-height: 15px;
  font-weight: 400;
}

.project-btn {
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 3px 10px;
  font-size: 10px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  margin: 5px;
}

.project-btn:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  cursor: pointer;
}

/* Section Services */
.section-services {
  margin: 10rem 0;
  border: 1px solid rgba(0, 0, 0, 0);
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.service-box {
  width: 390px;
  height: 220px;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  overflow: hidden;
  border: 4px solid rgb(0, 0, 0);
  transition: all 0.3s ease;
}

.service-box:hover {
  border: 2px solid rgb(0, 0, 0);
  filter: drop-shadow(0 0 10px rgb(0, 0, 0));
}

.service-box h3 {
  font-size: 24px;
  margin: 10px 5px;
}

.service-box p {
  font-size: 16px;
  margin: 10px 5px;
}

/* Section Contacts */

.section-contact {
  margin: 10rem 0 4rem 0;
  border: 1px solid rgba(0, 0, 0, 0);
}

.contact-container {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.left-contact {
  margin-top: 5rem;
  margin-right: 5rem;
}

.contact-text {
  font-size: 20px;
  font-style: italic;
  margin-bottom: 20px;
}

.social-logo i {
  font-size: 3em;
  margin: 5px;
  color: black;
  transition: all 0.2s ease;
}

.social-logo .linkedin:hover {
  transform: scale(1.3);
  margin: 5px;
  filter: drop-shadow(0 0 10px rgba(0, 119, 181, 0.5));
  color: rgb(0, 119, 181);
}

.social-logo .facebook:hover {
  transform: scale(1.3);
  margin: 5px;
  filter: drop-shadow(0 0 10px rgba(24, 68, 242, 0.5));
  color: rgb(24, 68, 242);
}

.social-logo .instagram:hover {
  transform: scale(1.3);
  margin: 5px;
  filter: drop-shadow(0 0 10px rgba(204, 25, 94, 0.56));
  color: rgb(204, 25, 94);
}

.social-logo .github:hover {
  transform: scale(1.3);
  margin: 5px;
  filter: drop-shadow(0 0 10px rgba(6, 91, 27, 0.5));
  color: rgb(6, 91, 27);
}

.social-logo .whatsapp:hover {
  transform: scale(1.3);
  margin: 5px;
  filter: drop-shadow(0 0 10px rgba(37, 211, 102, 0.5));
  color: rgb(37, 211, 102);
}

.social-logo .gmail:hover {
  transform: scale(1.3);
  margin: 5px;
  filter: drop-shadow(0 0 10px rgba(211, 37, 37, 0.5));
  color: rgb(211, 37, 37);
}

.white-link {
  color: white;
}

.contact-form {
  border: 3px solid black;
  border-radius: 20px;
  backdrop-filter: blur(2px);
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: #000000;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 25rem;
  outline: none;
  border: 2px solid #000000;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #000000;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #000000;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.submit-btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #000000;
  font-size: 0.95rem;
  color: #000000;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
  width: 8rem;
}

.submit-btn:hover {
  background-color: black;
  color: #fff;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #ffffff;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 30px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.input:focus {
  border-color: #2450ff;
}

.input:focus ~ label {
  left: 23px;
  font-size: 14px;
  color: #2450ff;
}

.input:focus ~ .message-label {
  font-size: 14px;
  color: #2450ff;
}

.input:focus ~ span:before,
.input:focus ~ span:after {
  width: 50%;
  opacity: 1;
}

/* Footer Section */
.bottom-section {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0);
}

.legal a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

/* Mobile screen */

/* Media Query for 767px and below */
@media only screen and (max-width: 767px) {
  /* Navbar */

  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }

  .navbar {
    align-items: flex-start;
    position: static;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .links {
    display: none;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgba(225, 225, 225, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    padding: 1rem;
    z-index: 10;
  }

  .links.open {
    display: flex;
  }

  .dropdown_menu {
    right: auto;
    left: 4rem;
  }

  .logo_img {
    max-width: 40px;
  }

  /* Home Section */
  .section-home {
    background-position: right -450px bottom 0;
    background-size: 732px 855px;
  }

  .section-home .left-content {
    margin-top: 20rem;
    margin-left: 3rem;
  }

  .section-home .left-content h1 {
    font-size: 16px;
  }

  .section-home .left-content .p1 {
    font-size: 30px;
  }

  .section-home .left-content .p2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .button-white {
    font-size: 12px;
    padding: 4px 14px;
  }

  /* Section About */
  .section-about {
    flex-direction: column;
    align-items: center;
    margin: 0rem 0;
  }

  .photo-container img {
    width: 70%;
    margin: 15% 15% 5% 15%;
  }

  .right-section h2,
  .right-section h3,
  .right-section p,
  .button-black {
    margin: 0 10%;
  }

  .right-section h2 {
    font-size: 40px;
  }

  .right-section h3 {
    font-size: 25px;
    margin-bottom: 1rem;
  }

  .right-section p {
    font-size: 15px;
    margin-bottom: 1rem;
  }

  .right-section p {
    width: auto;
  }

  .button-black {
    font-size: 12px;
    padding: 4px 14px;
  }

  /* Section Skills */

  .section-skills {
    margin: 5rem 0;
  }

  .skills-heading {
    margin-bottom: 2rem;
  }

  .background-heading {
    font-size: 70px;
  }

  .foreground-heading {
    font-size: 30px;
  }

  .section-skills .skills-container {
    flex-direction: column;
    margin: 0 4rem;
  }

  .skill {
    margin: 20px 0;
  }

  /* Section Projects */

  .section-projects {
    margin: 5rem 0;
  }

  .other-heading {
    margin-bottom: 5rem;
  }

  .contact-heading {
    margin-bottom: 5rem;
  }

  .background-other {
    font-size: 70px;
  }

  .foreground-other {
    font-size: 30px;
  }

  .section-projects .projects-container {
    justify-content: flex-start;
    margin: 0 2rem;
    gap: 5px;
  }

  .contact-text {
    display: none;
  }

  .project-box {
    width: 100%;
    margin-bottom: 30px;
  }

  /* Section Services */

  .section-services {
    margin: 5rem 0;
  }

  .section-services .services-container {
    justify-content: flex-start;
    margin: 0 2rem;
    gap: 5px;
  }

  .service-box {
    width: 100%;
    margin-bottom: 30px;
  }

  /* Section Contacts */

  .section-contact {
    margin: 5rem 0;
  }

  .section-contact .contact-container {
    gap: 0;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem;
  }

  .left-contact {
    margin: 0;
  }

  .contact-form {
    width: 100%;
    margin: 3rem;
  }

  .input {
    width: auto;
    min-width: 18rem;
  }

  /* Footer Section */
  .bottom-section {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999; /* Ensure the footer is above other content */
  }

  /* Canceling Hovering Effect for Mobile Query */

  .button-white:hover,
  .photo-container img:hover,
  .button-black:hover,
  .skill:hover,
  .skill-name:hover,
  .skill-bar:hover,
  .skill-progress:hover,
  .skill:hover,
  .project-box:hover,
  .project-box:hover,
  .project-box:hover,
  .project-btn:hover,
  .service-box:hover,
  .social-logo .linkedin:hover,
  .social-logo .facebook:hover,
  .social-logo .instagram:hover,
  .social-logo .github:hover,
  .social-logo .whatsapp:hover,
  .social-logo .gmail:hover,
  .submit-btn:hover {
    transform: none;
  }

  .button-white:active {
    background-color: white;
    color: black;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
    transform: scale(1.1);
  }

  .photo-container img:active {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
    transform: scale(1.01);
  }

  .button-black:active {
    background-color: black;
    color: White;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    transform: scale(1.1);
  }

  .skill:active,
  .skill-name:active,
  .skill-bar:active,
  .skill-progress:active {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
  }

  .skill:active {
    transform: scale(1.05);
  }

  .project-box:active {
    border: 2px solid rgb(0, 0, 0);
    filter: drop-shadow(0 0 10px rgb(0, 0, 0));
  }

  .project-box:active img {
    transform: scale(1.2);
  }

  .project-box:active .project-overlay {
    height: 100%;
  }

  .project-btn:active {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  }

  .service-box:active {
    border: 2px solid rgb(0, 0, 0);
    filter: drop-shadow(0 0 10px rgb(0, 0, 0));
  }

  .social-logo .linkedin:active {
    transform: scale(1.3);
    margin: 5px;
    filter: drop-shadow(0 0 10px rgba(0, 119, 181, 0.5));
    color: rgb(0, 119, 181);
  }

  .social-logo .facebook:active {
    transform: scale(1.3);
    margin: 5px;
    filter: drop-shadow(0 0 10px rgba(24, 68, 242, 0.5));
    color: rgb(24, 68, 242);
  }

  .social-logo .instagram:active {
    transform: scale(1.3);
    margin: 5px;
    filter: drop-shadow(0 0 10px rgba(204, 25, 94, 0.56));
    color: rgb(204, 25, 94);
  }

  .social-logo .github:active {
    transform: scale(1.3);
    margin: 5px;
    filter: drop-shadow(0 0 10px rgba(6, 91, 27, 0.5));
    color: rgb(6, 91, 27);
  }

  .social-logo .whatsapp:active {
    transform: scale(1.3);
    margin: 5px;
    filter: drop-shadow(0 0 10px rgba(37, 211, 102, 0.5));
    color: rgb(37, 211, 102);
  }

  .social-logo .gmail:active {
    transform: scale(1.3);
    margin: 5px;
    filter: drop-shadow(0 0 10px rgba(211, 37, 37, 0.5));
    color: rgb(211, 37, 37);
  }

  .submit-btn:active {
    background-color: black;
    color: #fff;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  }
}
