/* imports */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  cursor: default;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #f0f0f0, #666666);
  border-radius: 15px;
  border: 1px solid black;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scrollbar-thumb {
  position: absolute;
  width: 10px;
  height: 100px;
  top: 0;
  background: linear-gradient(to bottom, #f0f0f0, #666666);
  border-radius: 15px;
}

/* Home 1 Section */
.section-home {
  padding: 50px 50px 0 50px;
  background-color: black;
  color: white;
  height: 100lvh;
  background-image: url("./images/my_bg_first_page.png");
  background-repeat: no-repeat;
  background-position: right 50px center;
  background-size: 650px 730px;
}

.logo {
  margin: 0;
  padding: 0;
  max-width: 50px;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

.section-home .left-content {
  flex: 1;
  padding: 200px 0px 0px 200px;
}

.left-content h1 {
  margin: 10px 0px 10px 0px;
}

.left-content p {
  margin: 10px 0px 10px 0px;
}

.left-content .p1 {
  font-size: 50px;
  font-weight: bold;
}

.left-content .p2 {
  font-size: 35px;
  font-weight: 100;
  margin-bottom: 20px;
}

.left-content a {
  text-decoration: none;
}

.typewriter {
  font-size: 50px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 5s steps(40) infinite;
}

.typewriter::after {
  content: "|"; /* Cursor */
  animation: blinkCursor 0.7s infinite alternate;
  font-weight: 100;
  font-size: larger;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinkCursor {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.button-white {
  padding: 5px 15px;
  position: absolute;
  font-size: 15px;
  background-color: transparent;
  color: white;
  transition: all 0.3s ease;
  border: 2px solid white;
  z-index: 9999;
}

.button-white:hover {
  background-color: white;
  color: black;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
  transform: scale(1.1);
  cursor: pointer;
}

.button-black {
  padding: 5px 15px;
  font-size: 15px;
  font-weight: 500;
  background-color: white;
  color: black;
  transition: all 0.3s ease;
  border: 2px solid black;
}

.button-black:hover {
  background-color: black;
  color: white;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  cursor: pointer;
}

.section-home .nav {
  position: absolute;
  top: 20px;
  right: 20px;
}

.section-home .nav ul {
  list-style: none;
  display: flex;
}

.section-home .nav ul li {
  margin-right: 40px;
}

.section-home .nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  position: relative;
}

.section-home .nav a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease, left 0.3s ease; /* Add transition for both width and left properties */
}

.section-home .nav a:hover::before {
  width: 100%;
}

.section-home .nav a:not(:hover)::before {
  width: 0; /* Set width to 0 when not hovered */
  left: 100%;
  cursor: pointer; /* Move the underline to the right when not hovered */
}

/* Section 2 About */
.section-about {
  position: relative;
  height: 100lvh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  border: 1px solid rgba(0, 0, 0, 0);
}

.left-section {
  flex: 1;
}

.right-section {
  flex: 1;
  padding: 0 60px;
  margin-right: 100px;
}

.photo-container {
  position: absolute;
  left: 240px;
  top: 120px;
}

.photo-container img {
  width: 80%;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.photo-container img:hover {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
  transform: scale(1.01);
}

.right-section h2,
.right-section h3,
.right-section p {
  margin-bottom: 15px;
}

.right-section h2 {
  font-size: 35px;
}

.right-section h3 {
  font-size: 22px;
}

.right-section p {
  font-size: 16px;
}
/* Section 3 Skills */

.section-skills {
  position: relative;
  height: 100lvh;
  padding: 50px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0);
}

.skills-heading {
  padding: 10px;
  text-align: left;
}

.foreground-heading,
.background-heading {
  margin: 0;
  position: absolute;
  white-space: nowrap;
}

.foreground-heading {
  padding-top: 55px;
  padding-left: 6px; /* Adjusted padding */
  font-size: 40px;
  color: #000000;
  z-index: 2;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
}

.background-heading {
  font-size: 115px;
  color: transparent;
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.5);
  z-index: 1;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

.other-heading {
  text-align: left;
}

.foreground-other,
.background-other {
  margin: 0;
  position: absolute;
  white-space: nowrap;
}

.foreground-other {
  padding-top: 55px;
  padding-left: 6px; /* Adjusted padding */
  font-size: 40px;
  color: #000000;
  z-index: 2;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
}

.background-other {
  font-size: 115px;
  color: transparent;
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.5);
  z-index: 1;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

.skills-container {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}

.left-skills,
.right-skills {
  flex: 1;
}

.skill {
  margin: 40px;
  position: relative;
}

.skill-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 5px; /* Adjusted margin */
}

.skill-bar {
  height: 20px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(72, 72, 72, 0.8);
}

.skill-progress {
  height: 100%;
  background: linear-gradient(to right, rgb(0, 0, 0), #3b3b3b, #999999);
  border-radius: 10px;
  margin-right: 10px;
  box-shadow: 0 0 5px rgba(69, 69, 69, 0.8);
  animation: gradientAnimation 5s infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.sp1 {
  width: 80%;
}

.sp2 {
  width: 70%;
}

.sp3 {
  width: 60%;
}

.sp4 {
  width: 75%;
}

.sp5 {
  width: 65%;
}

.sp6 {
  width: 55%;
}

.skill,
.skill-name,
.skill-bar,
.skill-progress {
  transition: all 0.3s ease;
}

.skill:hover,
.skill-name:hover,
.skill-bar:hover,
.skill-progress:hover {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

.skill:hover {
  transform: scale(1.05);
}

/* Section 4 Projects */
.section-projects {
  position: relative;
  height: 100lvh;
  padding: 0 50px 50px 50px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0);
}

.projects-container {
  margin-top: 180px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.project-box {
  width: 390px;
  height: 220px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  border: 4px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  transition: all 0.3s ease;
}

.project-box:hover {
  border: 2px solid rgb(0, 0, 0);
  filter: drop-shadow(0 0 10px rgb(0, 0, 0));
}

.project-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.3s;
}

.project-overlay {
  height: 0;
  width: 100%;
  background: linear-gradient(transparent, #ffffff 80%);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.3s ease-in-out;
}

.project-title {
  text-transform: uppercase;
  font-weight: bolder;
  margin-top: 40%;
  font-size: 25px;
  letter-spacing: 0px;
  line-height: 0.8;
}

.project-info {
  font-size: 14px;
  line-height: 15px;
  font-weight: 400;
}

.project-btn {
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 3px 10px;
  font-size: 10px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  margin: 5px;
}

.project-btn:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  cursor: pointer;
}

.project-box:hover img {
  transform: scale(1.2);
}

.project-box:hover .project-overlay {
  height: 100%;
}

/* Section 5 Services */
.section-services {
  position: relative;
  height: 100lvh;
  padding: 0 50px 50px 50px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0);
}

.services-container {
  margin-top: 180px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.service-box {
  width: calc(33.333% - 30px);
  text-align: left;
  padding: 10px;
  border: 4px solid black;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 390px;
  height: 220px;
  transition: all 0.3s ease;
}

.service-box:hover {
  border: 2px solid black;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.service-logo {
  color: rgb(0, 0, 0);
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.service-box h3 {
  font-size: 24px;
  margin: 10px 0;
  color: #000000;
}

.service-box p {
  font-size: 16px;
  color: #444444;
}

/* Section 6 Contact Me */

.section-contact {
  position: relative;
  height: 100lvh;
  padding: 0 50px 20px 50px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0);
}

.contact-container {
  margin-top: 150px;
  display: flex;
}

.left-contact {
  width: 700px;
  height: 400px;
  position: absolute;
  left: 30px;
  top: 400px;
}

.contact-text {
  font-size: 20px;
  font-style: italic;
  margin-left: 100px;
  text-align: left;
  margin-bottom: 20px;
}

.social-logo i {
  font-size: 3em; /* Adjust the font size to make the icons bigger */
  margin-right: 5px;
  color: black;
  transition: all 0.2s ease;
}

.social-logo .linkedin:hover {
  transform: scale(1.3); /* Adjust the font size to make the icons bigger */
  margin-right: 5px;
  filter: drop-shadow(0 0 10px rgba(0, 119, 181, 0.5));
  color: rgb(0, 119, 181);
}

.social-logo .facebook:hover {
  transform: scale(1.3);
  margin-right: 5px;
  filter: drop-shadow(0 0 10px rgba(24, 68, 242, 0.5));
  color: rgb(24, 68, 242);
}

.social-logo .instagram:hover {
  transform: scale(1.3);
  margin-right: 5px;
  filter: drop-shadow(0 0 10px rgba(204, 25, 94, 0.56));
  color: rgb(204, 25, 94);
}

.social-logo .github:hover {
  transform: scale(1.3);
  margin-right: 5px;
  filter: drop-shadow(0 0 10px rgba(6, 91, 27, 0.5));
  color: rgb(6, 91, 27);
}

.social-logo .whatsapp:hover {
  transform: scale(1.3);
  margin-right: 5px;
  filter: drop-shadow(0 0 10px rgba(37, 211, 102, 0.5));
  color: rgb(37, 211, 102);
}

.social-logo .gmail:hover {
  transform: scale(1.3);
  margin-right: 5px;
  filter: drop-shadow(0 0 10px rgba(211, 37, 37, 0.5));
  color: rgb(211, 37, 37);
}

.white-link {
  color: white;
}

.contact-form {
  position: absolute;
  right: 150px;
  border: 3px solid black;
  border-radius: 20px;
  backdrop-filter: blur(2px);
}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #000000);
  position: absolute;
  animation: floatAround 50s infinite linear;
}

@keyframes floatAround {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-15px, -15px);
  }
  40% {
    transform: translate(20px, 30px);
  }
  60% {
    transform: translate(10px, 10px);
  }
  80% {
    transform: translate(-40px, -20px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: #000000;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 25rem;
  outline: none;
  border: 2px solid #000000;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #000000;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #000000;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #000000;
  font-size: 0.95rem;
  color: #000000;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
  width: 8rem;
}

.btn:hover {
  background-color: black;
  color: #fff;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #ffffff;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 30px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.input:focus {
  border-color: #2450ff;
}

.input:focus ~ label {
  left: 23px;
  font-size: 14px;
  color: #2450ff;
}

.input:focus ~ .message-label {
  font-size: 14px;
  color: #2450ff;
}

.input:focus ~ span:before,
.input:focus ~ span:after {
  width: 50%;
  opacity: 1;
}

/* Footer Section */
.bottom {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.legal a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.circle.one-project {
  width: 500px;
  height: 500px;
  top: 280px;
  right: 220px;
}

.circle-home {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #ffffff);
  position: absolute;
}

.circle-home.one-home {
  width: 600px;
  height: 600px;
  top: 280px;
  left: 220px;
}

.circle.one-about {
  width: 500px;
  height: 500px;
  top: 280px;
  right: 130px;
}

.circle.one-skills {
  width: 400px;
  height: 400px;
  top: 280px;
  left: 220px;
}

.circle.two-skills {
  width: 200px;
  height: 200px;
  top: 100px;
  right: 200px;
}

.circle.one-section {
  width: 400px;
  height: 400px;
  top: 280px;
  left: 220px;
  z-index: -1;
}

.circle.two-section {
  width: 200px;
  height: 200px;
  top: 100px;
  right: 200px;
  z-index: -1;
}

.circle.one-contact {
  width: 400px;
  height: 400px;
  top: 280px;
  left: 400px;
  z-index: -1;
}

.circle.two-contact {
  width: 200px;
  height: 200px;
  top: 100px;
  right: 100px;
  z-index: -1;
}
